body {
  margin: 0px;

  .block-strong .button {
    margin: 10px;
    height: 42px;
    line-height: 42px;
  }
}

.input-invalid {
  color: red !important;

}

.use-true {
  color: blue;
}


.page-game-setting {
  li {
    min-height: 40px;
  }
  select {
      width: 100%;
      min-height: 32px;
  }

  .block-title {
    margin-top: 15px;
  }

  .start-btn {
    margin-bottom: 0px;  

    .button {
      height: 54px;  
      line-height: 54px;  
    }
  }

  .item-input-wrap {
    input {
      width: 100%;
      min-height: 32px;
    }  
  }
}

.page-game {
  display: flex;
  padding-top: 0px !important;

  &.is-night {
    color: #ffdb6f;
    background-color: #422b4c;

    .players {
      .banned-saying {
        &:before { content: none; }
      }
    }

    
  }

  &.process-0 {
    div[data-iswolf=true] {
      background-color: #5f2f00;
    }
  }

  &.process-1, &.process-2 {
    .players .killing {
      background-color: red;
      color: #fff;
    }
  }

  &.process-99.round-1.captain-mode .players {
    visibility hidden;
    opacity: 0;
  }

  &.has-witches-health-false.process-2 {
    .players .killing {
      background-color: unset;
      color: unset;
    }
  }

  &.process-4 {
    div[data-guarded=true] {
      background-color: green;
    }
  }

  .players {
    height: 100%;
    width: 50%;
    display: flex;
    flex: 1;
    flex-direction: column;

    >div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      box-sizing: border-box;
      border: 1px solid gray;
      font-size: 36px;
      transition: background-color 0.3s ease;
    }

    .killed {
      background-color: gray !important;
      color: #ccc !important;
    }

    .banned-saying {
      position: relative;

      &:before {
        content: '/';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 56px;
        height: 56px;
        font-size: 44px;
        line-height: 58px;
        border-radius: 50%;
        border: 2px solid red;
        color: red;
        margin-left: -28px;
        margin-top: -28px;
        text-align: center;
        box-sizing: border-box;
      }
    }

    div[data-picking=true] {
      background-color: blue !important;
    }
  }

  .left-player {
    >div {
      writing-mode: vertical-lr;
    }
  }

  .right-player {
    flex-direction: column-reverse;

    >div {
      writing-mode: vertical-lr;
      transform: rotateZ(180deg)
    }
  }
}

.process-alert {
  display: none;
  position: absolute;
  height: 90%;
  width: 90%;
  z-index: 9;
  top: 5%;
  margin: 0% 5%;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    font-size: 122px;
    font-weight: bold;
    background-color: #fff;
    border: 2px outset #111;
    box-sizing: border-box;

    &.yes {
      color: green;  
    }

    &.no {
      color: red;  
    }
  }

}


.alert-wolf {
  width: 240px;
  height: 240px;
  background-color: #5f2f00;
}

.alert-good {
  width: 240px;
  height: 240px;
  background-color: #a0e6ff;
}

.mp3s {
  display: none;
}

#abs-go-night {
  display: block;
  position: absolute;
  height: 64px;
  width: 64px;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  z-index: 98;
  background-color: #590071;
  color: #ffff00;
  border-radius: 50%; 
  box-sizing: border-box;
  border: 1px solid #999;
  text-align: center;
  line-height: 64px;
  font-size: 22px;

  &.zw {
    transform: rotateZ(180deg);
  }
}

.is-night #abs-go-night {
  display: none;  
}

.button {
  &.disable {
    background-color: grey;
    pointer-events: none;
  }  
}